* {
    margin: 0;
    padding: 0; }
  

.navbar-brand img{
    width: 200px;
}

.container img{
    width: 100%;
    padding: 30px 10px 30px 10px;    
}

.col{
    padding-top: 100px;

}

.col:hover{
    transform: scale(1.01)
}
.nav-item{
    font-size: 20px;
}


.row{
    --bs-gutter-x: 0rem;
}

.container{
    --bs-gutter-x: 0rem;
}


/* MODELOS */
.py-5{
    padding-top: 8rem!important;
    padding-bottom: 8rem!important;
}

/* TIENDAS */


/* COMPANIA */

.img-fluid{
    max-width: 90%

}

.card {
    border-radius: 16px;
    border: 2px solid rgba(175, 174, 174, 0.182);
    
}

.card-img-overlay{
    background-color: #00000086;
}

/* CONTACTO */

.card div{
    padding-top: 45px;
}


/* JAVASCRIPT */
.cont {
    background-color: rgb(82, 89, 93);
    display: flex;
    justify-content: center
}
.precioMotos {
    text-align: center;
    height: 200px;
    margin: 50px;
    color: white;
}

.botonConsulta{
    text-align: center;
    background-color: #212529;
    padding-top: 100px;
}

.botonConsulta button{
    padding: 30px;
    border-radius: 100px;
}

.botonConsulta button:hover{
    background-color: aqua;
    transform: scale(1.10)
    
}