* {
    margin: 0;
    padding: 0; }
  

.navbar-brand img{
    width: 200px;
}

.container img{
    width: 100%;
    padding: 30px 10px 30px 10px;    
}

.col{
    padding-top: 100px;

}

.col:hover{
    transform: scale(1.01)
}
.nav-item{
    font-size: 20px;
}


.row{
    --bs-gutter-x: 0rem;
}

.container{
    --bs-gutter-x: 0rem;
}

/* JAVASCRIPT */


.cont {
    background-color: rgb(57, 62, 65);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont img{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.precioMotos {
    background-color: rgb(57, 62, 65);
    text-align: center;
    height: auto;
    padding: 30px;
    color: white;
    
}

.contVaciar{
    background-color: rgb(57, 62, 65);
    text-align: center;
    padding-top: 10px;
}

.btnVaciar{
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: grey;
    color: white;
}

.btnVaciar:hover{
    background-color: white;
    color: black;
    transform: scale(1.06)
    
}
